# Code:

### Import packages, modules and create the folders

## Modules

In [51]:
from importlib import reload

# import Module
# from Module import os, sys
# from Module import pd, np, plt, sns, sm, ln, dt
# from Module import yf, investpy, sgs
# reload(Met)
import Methods
reload(Methods)
from Methods import p21, p22, p41, r21, r22, r41, nefin, select_dates

nefin

[*********************100%***********************]  1 of 1 completed

,Rm_minus_Rf,SMB,HML,WML,IML,Risk_free,esg,ibov
2014-04-30,-0.001311,0.011499,-0.000891,-0.003429,0.012287,0.000407,0.000000,-0.004109
2014-05-02,0.020187,-0.007742,0.019263,0.000245,-0.018592,0.000408,0.020900,0.026227
2014-05-05,0.005278,0.000501,-0.001818,-0.001178,0.002603,0.000408,0.006955,0.008796
2014-05-06,0.004776,-0.004550,-0.008152,0.003498,-0.006144,0.000408,0.004864,0.006249
2014-05-07,0.004852,0.008579,0.001937,-0.008626,0.009448,0.000408,0.003291,0.005076
...,...,...,...,...,...,...,...,...
2022-08-26,-0.010254,0.001242,-0.001593,0.010996,0.004463,0.000509,-0.015026,-0.010860
2022-08-29,0.001021,0.001861,0.000983,0.002190,0.007988,0.000509,0.001303,0.000214
2022-08-30,-0.016491,-0.005130,0.005933,0.014955,-0.000512,0.000509,-0.013886,-0.016844
2022-08-31,-0.007638,0.001335,0.008073,0.011609,0.008591,0.000509,-0.011930,-0.008222
2022-09-01,0.008147,0.004805,-0.003369,-0.001956,0.006420,0.000509,0.008956,0.008053

In [46]:
nefin

,Rm_minus_Rf,SMB,HML,WML,IML,Risk_free,S&P/B3 Brazil ESG Index (BRL) TR
2014-04-30,-0.001311,0.011499,-0.000891,-0.003429,0.012287,0.000407,100.00
2014-05-02,0.020187,-0.007742,0.019263,0.000245,-0.018592,0.000408,102.09
2014-05-05,0.005278,0.000501,-0.001818,-0.001178,0.002603,0.000408,102.80
2014-05-06,0.004776,-0.004550,-0.008152,0.003498,-0.006144,0.000408,103.30
2014-05-07,0.004852,0.008579,0.001937,-0.008626,0.009448,0.000408,103.64
...,...,...,...,...,...,...,...
2022-08-26,-0.010254,0.001242,-0.001593,0.010996,0.004463,0.000509,207.14
2022-08-29,0.001021,0.001861,0.000983,0.002190,0.007988,0.000509,207.41
2022-08-30,-0.016491,-0.005130,0.005933,0.014955,-0.000512,0.000509,204.53
2022-08-31,-0.007638,0.001335,0.008073,0.011609,0.008591,0.000509,202.09
2022-09-01,0.008147,0.004805,-0.003369,-0.001956,0.006420,0.000509,203.90

In [44]:
ibov = pd.DataFrame(yf.download('^BVSP')['Adj Close'])
ibov = ibov.sort_index().pct_change()
select_dates(ibov)

[*********************100%***********************]  1 of 1 completed

            Adj Close
Date
2014-04-30  -0.004109
2014-05-02   0.026227
2014-05-05   0.008796
2014-05-06   0.006249
2014-05-07   0.005076
...               ...
2022-08-26  -0.010860
2022-08-29   0.000214
2022-08-30  -0.016844
2022-08-31  -0.008222
2022-09-01   0.008053

[2067 rows x 1 columns]

In [41]:
esg = pd.read_excel('Raw//BR_ESG.xls', index_col = [0], header = [6]).iloc[:-1]
esg.shape

(2154, 1)

In [32]:
pd.concat([
    nefin[['year', 'month', 'day']], pd.to_datetime(nefin[['year', 'month', 'day']])],
          axis = 1)

      year  month  day          0
0     2001      1    2 2001-01-02
1     2001      1    3 2001-01-03
2     2001      1    4 2001-01-04
3     2001      1    5 2001-01-05
4     2001      1    8 2001-01-08
...    ...    ...  ...        ...
5505  2023      3   27 2023-03-27
5506  2023      3   28 2023-03-28
5507  2023      3   29 2023-03-29
5508  2023      3   30 2023-03-30
5509  2023      3   31 2023-03-31

[5510 rows x 4 columns]

In [25]:
nefin.groupby(['year', 'month', 'day']).mean()

                Rm_minus_Rf       SMB       HML       WML       IML  Risk_free
year month day
2001 1     2       0.006601  0.000524  0.065490 -0.006308  0.014109   0.000579
           3       0.062427  0.005390  0.009390 -0.028644  0.004510   0.000577
           4      -0.000310  0.006690 -0.002327 -0.000946 -0.009227   0.000574
           5      -0.012839  0.003523 -0.002397  0.005985  0.025124   0.000573
           8       0.003982  0.007883  0.001948 -0.004099 -0.001175   0.000573
...                     ...       ...       ...       ...       ...        ...
2023 3     27      0.008188  0.008180  0.005273 -0.002457  0.009301   0.000508
           28      0.014140 -0.008670 -0.013340 -0.002222 -0.009103   0.000508
           29      0.005186 -0.029898 -0.020391  0.018583 -0.021766   0.000508
           30      0.016627  0.002090  0.002514 -0.021923 -0.003351   0.000508
           31     -0.016753  0.011890  0.013494  0.002685  0.012499   0.000508

[5510 rows x 6 columns]

In [26]:
nefins[0]

      year  month  day  Rm_minus_Rf
0     2001      1    2     0.006601
1     2001      1    3     0.062427
2     2001      1    4    -0.000310
3     2001      1    5    -0.012839
4     2001      1    8     0.003982
...    ...    ...  ...          ...
5505  2023      3   27     0.008188
5506  2023      3   28     0.014140
5507  2023      3   29     0.005186
5508  2023      3   30     0.016627
5509  2023      3   31    -0.016753

[5510 rows x 4 columns]

In [12]:
pd.merge(pd.DataFrame(), nefins[0], on = ['year', 'month', 'day'])

KeyError: 'year'

## Folders

## Paths

### Loading the files

Economatica

In [2]:
raw_path = f'{os.getcwd()}//Raw//'
raw_path_files = [raw_path + i for i in os.listdir(raw_path)]
raw_path_files

['d:\\WORKSPACE\\Finance_review//Raw//Eco_price_21.xlsx',
 'd:\\WORKSPACE\\Finance_review//Raw//Eco_price_22.xlsx',
 'd:\\WORKSPACE\\Finance_review//Raw//Eco_price_41.xlsx',
 'd:\\WORKSPACE\\Finance_review//Raw//Eco_ret_21.xlsx',
 'd:\\WORKSPACE\\Finance_review//Raw//Eco_ret_22.xlsx',
 'd:\\WORKSPACE\\Finance_review//Raw//Eco_ret_41.xlsx']

Nefin

In [ ]:
url = [
    'http://nefin.com.br/resources/risk_factors/Market_Factor.xls',
    'http://nefin.com.br/resources/risk_factors/SMB_Factor.xls',
    'http://nefin.com.br/resources/risk_factors/HML_Factor.xls',
    'http://nefin.com.br/resources/risk_factors/WML_Factor.xls',
    'http://nefin.com.br/resources/risk_factors/IML_Factor.xls',
    'http://nefin.com.br/resources/risk_factors/Risk_Free.xls'
]

Dow Jones

In [3]:
Met.read_Economatica

In [30]:
importlib.reload(Met)
import Methods as Met
from Methods import p21, p22, p41, r21, r22, r41
df = Met.read_Economatica(raw_path_files[2], 3, 'price')
df

,PU\najust p/ prov\nEm moeda orig\nABEV3,PU\najust p/ prov\nEm moeda orig\nBBSE3,PU\najust p/ prov\nEm moeda orig\nBRML3,PU\najust p/ prov\nEm moeda orig\nBBDC3,PU\najust p/ prov\nEm moeda orig\nBBDC4,PU\najust p/ prov\nEm moeda orig\nBRAP4,PU\najust p/ prov\nEm moeda orig\nBBAS3,PU\najust p/ prov\nEm moeda orig\nBRKM5,PU\najust p/ prov\nEm moeda orig\nBRFS3,PU\najust p/ prov\nEm moeda orig\nCCRO3,...,PU\najust p/ prov\nEm moeda orig\nMRVE3,PU\najust p/ prov\nEm moeda orig\nPETR3,PU\najust p/ prov\nEm moeda orig\nPETR4,PU\najust p/ prov\nEm moeda orig\nQUAL3,PU\najust p/ prov\nEm moeda orig\nSBSP3,PU\najust p/ prov\nEm moeda orig\nSANB11,PU\najust p/ prov\nEm moeda orig\nCSNA3,PU\najust p/ prov\nEm moeda orig\nUGPA3,PU\najust p/ prov\nEm moeda orig\nUSIM5,PU\najust p/ prov\nEm moeda orig\nVALE3
Data,,,,,,,,,,,,,,,,,,,,,
2014-04-30,12.000009,14.469631,11.170526,9.048576,8.666190,4.044531,13.606210,10.030027,47.965925,12.233602,...,3.940823,7.546857,7.315333,12.145214,17.575551,8.646579,6.052288,22.302847,7.245527,17.841509
2014-05-02,11.786512,14.752047,11.599299,9.294275,8.773245,4.191223,13.861944,10.214548,48.003918,12.570114,...,3.963150,7.831735,7.770058,12.352585,18.183039,8.582746,6.328035,22.274959,7.469873,18.326992
2014-05-05,12.147248,14.979087,11.439513,9.449919,8.964154,4.166076,14.135114,10.359528,48.735279,12.640220,...,4.002224,7.918647,7.756813,12.049936,18.016604,8.681398,6.313894,22.844681,7.312000,18.272376
2014-05-06,12.257678,15.505154,11.421759,9.502786,9.029471,4.155598,14.355975,10.445199,48.982233,12.450933,...,3.957568,8.232496,8.052605,12.240493,18.183039,8.605958,6.540147,23.266993,7.312000,18.096388
2014-05-07,12.000009,15.505154,11.421759,9.595302,9.136592,4.149311,14.536151,10.609950,49.058218,12.528050,...,4.002224,8.401491,8.202709,12.117191,17.933386,8.617564,6.313894,23.019980,7.262145,18.187416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-26,14.885677,28.400000,8.490000,15.366123,18.587049,21.612480,39.955516,32.520000,16.530000,13.548721,...,10.051722,33.317008,29.433241,10.130000,47.670000,29.638583,13.335371,14.030000,8.670000,67.999521
2022-08-29,14.828680,28.220000,8.470000,15.413874,18.653978,21.406558,40.781718,32.820000,16.370000,13.754005,...,10.288002,34.037424,30.168197,10.160000,48.090000,29.569587,12.882271,14.130000,8.220000,66.683980
2022-08-30,14.619692,28.230000,8.360000,15.404324,18.596610,20.629669,40.666434,32.000000,16.190000,13.578047,...,10.091102,32.116315,28.374555,10.010000,47.900000,29.618870,12.473592,13.900000,8.050000,64.750533
2022-08-31,14.505698,28.280000,8.250000,15.127371,18.128110,20.489268,40.051586,30.450000,15.850000,13.480293,...,10.110792,33.059081,29.074513,9.620000,49.150000,28.948626,12.260368,13.530000,8.020000,64.282121
2022-09-01,14.657689,28.790000,8.410000,15.127371,18.281090,20.124224,40.666434,30.430000,15.860000,13.480293,...,10.878700,33.654981,29.616980,9.510000,49.000000,29.037334,12.056029,13.630000,8.160000,63.674182